.benefits {background-color: rgba(247, 247, 249, 1);}
.benefits__inner {display: grid;grid-template-columns: repeat(6, auto);padding: 20px 0 20px;align-content: center;justify-content: center;grid-column-gap: 10px;}
.benefits__item {display: flex;font-weight: 500;flex-direction: column;align-items: center;text-align: center;font-size: 20px;line-height: 24px;border: 1px solid rgba(0, 0, 0, 0.2);box-sizing: border-box;border-radius: 5px;padding: 15px}



.benefits__text {max-width: 222px;word-wrap: anywhere;padding: 10px 0;}


@media screen and (max-width: 1510px){
    .benefits__inner {grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;grid-gap: 10px;}   
}
@media screen and (max-width: 1024px){
    .benefits__inner {grid-template-columns:  repeat(3, auto);}   
}
@media screen and (max-width: 768px){
    .benefits__inner {grid-template-columns: repeat(2, auto);}
    .benefits__item {border: none;border-bottom: 1px rgba(196, 196, 196, 1) solid;border-radius: 0;padding: 0 0 10px;}   
}