.footer {color: rgba(255, 255, 255, 1);background-image: url(../img/footer/footer.jpg);width: 100%;}
.footer__wrapper {padding: 100px 0 0 0;}
.footer-text__uptitle {color: rgba(255, 255, 255, 0.7);}
.footer-text__title {color: rgba(255, 255, 255, 1);}
.footer-text__suptitle {color: rgba(255, 255, 255, 0.8);}
.footer__inner {max-width: 1000px;margin: 0 auto;}
.footer-form {display:flex;grid-gap: 20px;flex-direction: column;margin-bottom: 60px;}
.footer-input {height: 55px;width: 100%;color: rgba(75, 74, 72, 0.6);border: 1px solid rgba(75, 74, 72, 0.2);box-sizing: border-box;border-radius: 5px;padding: 14px 0 14px 20px;font-family: 'Alegreya Sans';font-style: normal;font-weight: 400;font-size: 24px;}
.footer-form__name {grid-area: name;}
.footer-form__second-name {grid-area: second-name;}
.footer-form__number {grid-area: number;}
.footer-form__e-mail {grid-area: email;}
.footer-form__message {grid-area: message;height: 110px;padding: 14px 0 0 20px;color: rgba(75, 74, 72, 0.6);border: 1px solid rgba(75, 74, 72, 0.2);box-sizing: border-box;border-radius: 5px;font-family: 'Alegreya Sans';font-style: normal;font-weight: 400;font-size: 24px;}
.footer-form__captcha {display: flex;justify-content: end;}
.footer-form__button {height: 100%;grid-area: btn;font-size: 24px;font-weight: 500;}
.footer-form__privacy-policy-inner {text-align: center;grid-area: policy;}
.footer-form__privacy-policy {color: rgba(251, 67, 67, 1);font-weight: 500;border-bottom: 1px rgba(251, 67, 67, 1) dashed;}
.footer-nav {border-top: 1px solid rgba(255, 255, 255, 0.3);}
.footer-nav__inner {display: grid;grid-template-columns: 1fr 151px 215px; align-items: center;padding: 10px 0;}
.footer-nav__menu {display: grid;grid-template-columns: 180px auto;align-items: center;grid-gap: 50px;}
.footer-nav__logo-image {display: block;}
.footer-nav__develop {text-align: right;}
.footer__btn, .line{display: none;}
.soc_group{display: flex;justify-content: center;}
.soc_group .round{margin-right: 10px;}
.soc_group .round:last-child{margin-right: 0;}
.round{width: 30px;height: 30px;border: 1px solid #fff;border-radius: 50%;display: flex;background-color: #fff;justify-content: center;align-items: center;cursor: pointer;}
.footer-nav__menu-block>a{margin-right: 50px;}
.footer-nav__menu-block>a:last-child{margin-right: 0;}
.footer-form__group{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;}
.footer-form__group-btn {text-align: center;}



@media screen and (max-width: 1510px){
    .footer__wrapper {padding: 50px 0 0;}
}
@media screen and (max-width: 1340px){
    .footer-nav__menu {grid-gap: 30px;}
    .footer-nav__menu-block > a {margin-right: 30px;}
}
@media screen and (max-width: 1256px){
    .footer-nav__menu {grid-gap: 10px;}
    .footer-nav__menu-block > a {margin-right: 10px;}
}
@media screen and (max-width: 1177px){
    .footer-nav__inner {grid-template-columns: 1fr 94px 203px 197px;}
}
@media screen and (max-width: 1107px){
    .footer-nav__inner {grid-template-columns: 1fr 197px;}
    .soc_group {justify-content: end;}
}
@media screen and (max-width: 768px){
    .footer__wrapper {padding: 30px 0 0;}
    .footer .footer-form{display: none;}
    .footer-nav__inner {grid-template-columns: auto;grid-auto-rows: auto 60px;padding: 0;}
    .footer-nav__menu>a:nth-child(1) {grid-area: bl1;text-align: center;}
    .line{width: 100%;position: absolute;margin: 5px -22px;display: block;color: rgba(255, 255, 255, 0.3);top: 62px;box-sizing: border-box;}
    .footer-nav__menu>a:nth-child(3) {grid-area: bl2;margin: 20px 0;}
    .footer-nav__menu>a:nth-child(4) {grid-area: bl3;margin: 20px 0;}
    .footer-nav__menu>a:nth-child(5) {grid-area: bl4;margin-bottom: 20px;}
    .footer-nav__menu>a:nth-child(6) {grid-area: bl5;margin-bottom: 20px;}
    .footer-nav__menu{grid-template-areas: "bl1 bl1" "bl2 bl3" "bl4 bl5";justify-content: center;grid-template-columns: auto;align-items: inherit;}
    .footer-nav__menu-block{display: grid;grid-template-columns: 1fr 1fr;text-align: center;}
    .copiright{display: block;text-align: center;margin-top: 20px;}
    .footer__btn{display: block;margin-bottom: 30px;cursor: pointer;}
    .footer__btn:hover{opacity: 0.8;}
    .footer-nav__develop {text-align: center;}
    .footer-nav__menu-company{margin: 0 0 20px 0;}
    .soc_group {justify-content: center;}
    .footer .container{position: relative;}
    .second_line {top: 142px;}
    .third_line {top: 200px;}
    .footer-form__privacy-policy-inner {text-align: left;}
}
@media screen and (max-width: 650px){
    .form_modal{padding: 30px;}
    .captcha__group{display: block;}
    .footer-form__captcha {justify-content: left;margin-bottom: 10px;}
    .footer-form {grid-gap: 10px;}
    .footer-form__group {grid-gap: 10px;}
}
@media screen and (max-width: 400px){
    .footer-input {height: 40px;padding: 10px 0 10px 10px;font-size: 16px;}
    .footer-form__message {height: 100px;padding: 10px 0 0 10px;font-size: 18px;}    
}